<!DOCTYPE html>
{% load staticfiles %}
<html>

  <head>
    <title>Pineapple</title>
  </head>

  <body>
    <h1>Pineapple says...</h1>
    <div>Hi there buddy!</div>

    <div>
    {% if categories %}
    <ul>
      {% for category in categories %}
      <li>
      <a href="/pineapple/category/{{ category.slug }}">{{ category.name }}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <strong>There are no categories present.</strong>
    {% endif %}
  </div>

  <div>
    <a href="/pineapple/about">About Pineapple</a><br />
    <img src="{% static "images/Pineapple-Fruit.jpg" %}"
    alt="Picture of Pineapple" />
  </div>
</body>
</html>
